@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center fs-3 ">
    <h1 class="display-4">LELLONE PAPERONE</h1>
    <span>Quindi se modifico qualcosa qui, automaticamente sara' anche nel frontend '</span>
</div>
