@{
    ViewData["Title"] = "DROPShepard";
}


<div class="text-center">
    <h1 class="display-4">Benvenuto su DROPShepard</h1>
    <h2>Scopri i nostri servizi di tracking delle tue spedizioni!</h2>

</div>
